<div *ngIf="viewMode; else editable" class="align-content-between justify-content-between ">
  <div *ngIf="currentCard.id" class=" align-items-center justify-content-between align-items-center w-100 p-3">
    <div class="card p-3">
      <div class="p-2">
        <label><strong>Title:&nbsp; </strong></label>
        <span>{{ currentCard.title }}</span>
      </div>
      <div class="p-2">
        <label><strong>Text:&nbsp; </strong></label>
        <span>{{ currentCard.text }}</span>
      </div>
    </div>
    <div class="m-3 text-center">
      <a class="btn btn-primary ml-3 " routerLink="/notes/{{ currentCard.id }}">Edit</a>
    </div>
  </div>

  <div *ngIf="!currentCard">
    <br />
    <p>Please click on a Tutorial...</p>
  </div>
</div>


<ng-template #editable>
  <div *ngIf="currentCard.id" class="edit-form">
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentCard.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Text</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentCard.text"
          name="description"
        />
      </div>

    </form>


    <div class="justify-content-between d-flex align-items-center pt-3 pb-3">
      <button class="btn btn-primary" (click)="deleteCard()">
        Delete
      </button>

      <button
        type="submit"
        class="btn btn-primary ml-3 "
        (click)="updateCard()"
      >
        Update
      </button>
    </div>
  </div>

  <div *ngIf="!currentCard.id">
    <br />
    <p>Cannot access this Tutorial...</p>
  </div>
</ng-template>
