<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="card.title"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="card.text"
          name="description"
        />
      </div>

      <div class="form-group">
          <label>Card</label>
        <input
          type="checkbox"
          class="form-control"
          required
          [(ngModel)]="isCard"
        />
      </div>
      <div class="form-group">
        <label>List</label>
        <input
          type="checkbox"
          class="form-control"
          required
          [(ngModel)]="isTodo"
        />
      </div>


      <button (click)="saveCard()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Tutorial was submitted successfully!</h4>
      <a routerLink="/notes"> Home</a>
    </div>
  </div>
</div>
