<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="title"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="text"
          name="description"
        />
      </div>

      <div class="form-group">
          <label>Card</label>
        <input
          type="checkbox"
          class="form-control"
          required
          [(ngModel)]="isCard"
        />
      </div>
      <div class="form-group">
        <label>List</label>
        <input
          type="checkbox"
          class="form-control"
          required
          [(ngModel)]="isTodo"
        />
      </div>
      <div *ngIf="isTodo">
        <ol class="list-group">
          <li
            class="list-group-item"
            *ngFor="let task of list.tasks;">

            {{ task.text }}
            {{task.completed}}
          </li>
        </ol>
          <label>Add task</label>
        <input
        type="text"
        class="form-control"
        required
        [(ngModel)]="taskText"
        />
        <button (click)="addTask()" class="btn btn-success">Add task</button>
      </div>

      <button (click)="save()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Tutorial was submitted successfully!</h4>
      <a routerLink="/notes"> Home</a>
    </div>
  </div>

</div>
