
<div *ngIf="viewMode; else editable" class="align-content-between justify-content-between ">
  <div *ngIf="currentList.id" class=" align-items-center justify-content-between align-items-center w-100 p-3">
    <div class="card p-3">
      <div class="p-2">
        <label><strong>Title:&nbsp; </strong></label>
        <span>{{ currentList.title }}</span>
      </div>
      <div class="p-2">
        <label><strong>Text:&nbsp; </strong></label>
        <span>{{ currentList.text }}</span>
      </div>
      <div class="p-2">
        <label><strong>Tasks:&nbsp; </strong></label>
        <ul>
          <li *ngFor="let task of currentList.tasks" class="d-flex justify-content-between card">
            <span>
              {{task.text}}
            </span>
            <img *ngIf="task.completed" ngSrc="assets/done.svg" alt="" height="25" width="25">
          </li>
        </ul>
      </div>
    </div>
    <div class="m-3 text-center">
      <a class="btn btn-primary ml-3 " routerLink="/lists/{{ currentList.id }}">Edit</a>
    </div>
  </div>

  <div *ngIf="!currentList">
    <br />
    <p>Please click on a Tutorial...</p>
  </div>
</div>
<ng-template #editable>
  <div *ngIf="currentList.id" class="edit-form">
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentList.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Text</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentList.text"
          name="text"
        />
      </div>
      <div class="form-group">
        <label for="description">Tasks</label>
        <ul>

          <li
            class="list-group-item justify-content-between d-flex align-items-center pt-3 pb-3"
            *ngFor="let task of currentList.tasks; let i = index">
            <input
              type="checkbox"
              class="m-2"
              [(ngModel)]="task.completed"
              name="taskcompleted + {{i}}"

            />
            <input
              type="text"
              class="form-control p-2"
              [(ngModel)]="task.text"
              name="tasktext + {{i}}"
            />
            <button (click)="removeTask(i)" class="btn">
              <img ngSrc="assets/musorka.svg" alt="" height="25" width="25"/>
            </button>
          </li>
        </ul>
      </div>
      <div class="form-group">
        <label for="description">Add task</label>
        <input
          placeholder="Text"
          type="text"
          class="form-control"
          [(ngModel)]="taskText"
          name="addTasText"
        />
      </div>
      <button (click)="addTask()" class="btn btn-secondary btn-sm">Add task</button>
    </form>

  <div class="justify-content-between d-flex align-items-center pt-3 pb-3">
    <button class="btn btn-primary" (click)="deleteCard()">
      Delete
    </button>

    <button
      type="submit"
      class="btn btn-primary ml-3 "
      (click)="updateCard()"
    >
      Update
    </button>
  </div>

  </div>

  <div *ngIf="!currentList.id">
    <br />
    <p>Cannot access this Tutorial...</p>
  </div>
</ng-template>
